* {
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
}

.linkdiv a {
  display: inline-block;
}

.linkdiv a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(0, 200, 255),
    rgb(0, 170, 255),
    rgb(0, 100, 255)
  );
  display: block;
  margin-right: auto;
  transition: 0.5s;
}

.linkdiv a:hover::after {
  width: 100%;
}

.LiBtn {
  background: linear-gradient(
    90deg,
    rgb(0, 200, 255),
    rgb(0, 170, 255),
    rgb(0, 100, 255)
  );
  padding: 7px;
  transition: 0.5s;
}

.LiBtn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 23px 0px;
}

.Home {
  padding-top: 8.5px;
}

@media (max-width: 940px) {
  .linkdiv {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
  }
  .LiBtn {
    position: fixed;
    right: 0;
  }
  .Home {
    flex-direction: column-reverse;
  }
  .leftdiv {
    width: 100%;
    font-size: 10%;
  }
  .rightdiv {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .tests {
    width: min-content;
    flex-direction: column;
  }
  .Medtests {
    align-items: center;
  }
}

@media (max-width: 710px) {
  .leftdiv h1 {
    font-size: 50px;
  }
  .rightdiv img {
    width: 50%;
  }
  .facility {
    flex-direction: column;
  }
  .faci1 {
    background: linear-gradient(rgb(0, 200, 255), rgb(0, 00, 255));
    width: 100%;
  }
  .special {
    flex-direction: column;
    align-items: center;
  }
  .spec1 {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .leftdiv h1 {
    font-size: 40px;
  }
  .leftdiv p {
    font-size: 18px;
  }
  .imgdiv h1 {
    font-size: 15px;
  }
  .LiBtn {
    padding: 5px;
    width: 100px;
  }
  .spec1 img {
    padding: 7px;
  }
  .leftdiv {
    justify-content: center;
    align-items: center;
  }
  .leftdiv h1 {
    width: 130%;
    padding: 0px;
  }
  .leftdiv p {
    width: 130%;
    padding: 0px;
  }
  .rightdiv img {
    width: 90%;
  }
  .playvid img {
    margin: -8px 9px -8px -8px;
  }
  .playvid {
    width: 110%;
    justify-content: center;
    align-items: center;
  }
}

.faci1 {
  transition: 0.6s;
}

.facility {
  background: linear-gradient(rgb(0, 200, 255), rgb(0, 00, 255));
}

.faci1:hover {
  margin-top: -20px;
  background: linear-gradient(rgb(0, 200, 255), rgb(0, 0, 0, 0.7));
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 23px 0px;
  border-radius: 5px;
}

.spec1 {
  background: linear-gradient(
    90deg,
    rgb(0, 100, 255),
    rgb(0, 200, 255),
    rgb(0, 0, 255)
  );
  transition: 0.3s;
}

.spec1:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 23px 0px;
}

.tst2 {
  background: linear-gradient(rgb(0, 200, 255), rgb(0, 0, 255));
  transition: 0.5s;
}

.tst2:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 23px 0px;
  color: blue;
}

.tst1:hover h1 {
  color: blue;
}

.rgbtn {
  background: linear-gradient(
    90deg,
    rgb(0, 200, 255),
    rgb(0, 170, 255),
    rgb(0, 100, 255)
  );
  padding: 7px;
  color: white;
  transition: 0.5s;
}

.rgbtn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 23px 0px;
}

.Footer {
  background: linear-gradient(
    rgb(0, 200, 255),
    rgb(0, 100, 255),
    rgb(0, 70, 255)
  );
  height: max-content;
}
.footlink a {
  transition: 0.5s;
}
.footlink a:hover {
  color: black;
}

@media (max-width: 960px) {
  .pages {
    display: none;
  }
}